{% extends 'base.html' %}
{% block title %}{{post.head_title}}
{% endblock title %}
{% block active4 %}active
{% endblock active4 %}
{% block addcss %}
{% endblock addcss %}
{% block body %}
{% load static %}
{% load humanize %}
<div class="container my-3">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timestamp}} by <a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
</div>
<div class="container">
        <h2>Comments</h2>
        {% if user.is_authenticated %}
        <div class="row">
                <div class="col-md-6">
                        <form action="/blog/postcomment" method="POST">
                                {% csrf_token %}
                                <label for="comment">
                                        <h4>Post:</h4>
                                </label>
                                <textarea type="text" rows="3" cols="3" class="form-control" id="comment" name='comment'
                                        required></textarea>
                                <input type="hidden" name="postSno" id="postSno" value="{{post.s_no}}">
                                <button class="btn btn-success mt-1" type="submit">POST</button>
                        </form>
                </div>
        </div>
        {% else %}
        <p><strong>Please signin/up for comment</strong></p>
        <button type="button" class="btn btn-outline-danger mx-1" data-toggle="modal" data-target="#loginModal">
                Login
        </button>
        <!-- signup trigger modal -->
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#signupModal">
                Sign Up
        </button>
        {% endif %}
        {% for item in comments %}
        <div class="row my-3">
                <div class="col-md-1">
                        <img class="rounded mx-auto d-block w-100 p-2" src='{% static "/blog/user_ico/user1.png" %}' alt="">
                </div>
                <div class="col-md-5">
                        <strong>{{item.user.username}}</strong> <em>{{item.timestamp|naturaltime}}</em>
                        <p>{{item.comment}}</p>
                </div>
        </div>
        {% endfor %}
</div>
{% endblock body %}
{% block addjs %}
{% endblock addjs %}