<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>{% block title %}
    {% endblock title %} | Welcome to GSGcoder</title>
  {% block addcss %}
  {% endblock addcss %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">GSGcoder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block active1 %}
            {% endblock active1 %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block active2 %}
            {% endblock active2 %}">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item {% block active4 %}
            {% endblock active4 %}">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item {% block active3 %}
            {% endblock active3 %}">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
        <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-1 mr-2">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Premium</a>
          <a class="dropdown-item" href="#">Profile</a>
          <form action="/logout" method="POST">
          {% csrf_token %}
          <button type="submit" class="dropdown-item" href="/logout">Logout</button>
          </form>
        </div>
      </li>
      </ul>
      {% else %}
      <!-- login trigger modal -->
      <button type="button" class="btn btn-outline-danger mx-1" data-toggle="modal" data-target="#loginModal">
        Login
      </button>
      <!-- signup trigger modal -->
      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#signupModal">
        Sign Up
      </button>

      {% endif %}
    </div>
    <!-- Login model -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/login" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label for="luser">UserName</label>
                <input type="text" Required class="form-control" id="luser" name="luser" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="lpassword">Password</label>
                <input type="password" Required class="form-control" id="lpassword"  name="lpassword">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- signup model -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signupModaltitle">Sign Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/signup">
              {% csrf_token %}
              <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" Required name="Username" class="form-control" id="Username">
              </div>
              <div class="form-group">
                <label for="Firstname">First Name</label>
                <input type="text" Required name="fname" class="form-control" id="Firstname">
              </div>
              <div class="form-group">
                <label for="Lastname">Last Name</label>
                <input type="text" Required name="lname" class="form-control" id="Lastname">
              </div>
              <div class="form-group">
                <label for="emailaddress">Email address</label>
                <input type="email" Required name="email" class="form-control" id="emailaddress">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" Required name="password" class="form-control" id="password">
              </div>
              <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" Required name="cpassword" class="form-control" id="cpassword">
              </div>
              <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
  </nav>
  <div class="container">
      {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message: </strong> {{ message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}</div>
  {% block body %}
  {% endblock body %}
  <footer class="blog-footer" style="text-align: center;">
    <p>Blog template built for <a href="https://newstoday.co.in/" target="_blank">News Today</a> by <a
        href="https://instagram.com/computewithlucifer" target="_blank">@computewithlucifer</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% block addjs %}
  {% endblock addjs %}
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>